@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Dosis", sans-serif;
  line-height: 1.3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.logo {
  width: 50%;
  margin: 1rem auto;
  max-width: 200px;
}

.button-center {
  text-align: center;
}

.button-left {
  text-align: left;
  padding-left: 1.4rem;
}

.nav-button {
  padding: .75rem 1rem;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #312649;
  color: #fff;
  box-shadow: -2px 5px #877d93;
  border: 0;
  border-radius: 50%;
  width: 125px;
}

.primary-button {
  padding: .75rem 1.5rem;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #312649;
  color: #fff;
  box-shadow: -2px 5px #877d93;
  border: 0;
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 160px;
}

.secondary-button {
  padding: .75rem 1.5rem;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #fff;
  color: #312649;
  box-shadow: -2px 5px #312649;
  border: .1px solid #312649;
  border-radius: 50%;
  width: 160px;
}

header nav {
  background-color: #efeae8;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  border: 0;
  border-radius: 6px;
  color: #877d93;
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.banner-text {
  padding: 2rem 1rem;
  background-color: rgba(255,255,255,0.7);
  margin-bottom: 1rem;
  margin-top: 5rem;
  text-align: center;
}

.banner {
  background-image: url(../images/banner-1.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 700px;
  color: #312649;
  text-align: center;
  vertical-align: middle;
  padding: 10rem 1.4rem;
  margin-top: 8rem;
}

h1 {
  margin: 0 0 .25rem 0;
  font-size: 3.5rem;
  line-height: 1.1;
  font-family: "Shadows Into Light", sans-serif;
}

.banner h2 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

.about {
  position: relative;
  overflow: hidden;
  min-height: 700px;
}

.about-text {
  background-color: #fff;
  padding: 1.4rem;
  margin: 2rem 0 .5rem;
  color: #312649;
  max-width: 500px;
}

h2 {
  margin-bottom: .5rem;
  margin-top: 0;
  font-weight: bold;
  font-size: 2em;
}

.about img {
  position: absolute;
  z-index: -1000;
  transform: rotate(20deg);
  overflow: hidden;
  border: 5px dotted #312649;
}

.contact {
  padding: 1.4rem;
  background-image: url(../images/bone-bg.jpg);
  background-size: cover;
}

.contact h2, p{
  color: #312649;
}

.contact p {
  margin-bottom: 2rem;
}

.contact-info {
  padding: 2rem;
  background-color: rgba(255,255,255,0.75);
  max-height: 15rem;
}

.contact form {
  background-color: #877d93;
  padding: 2em;
}

.contact input, textarea, select {
  width: 100%;
  margin-bottom: 1em;
  padding: .5em;
}

.contact label {
  display: block;
  color: #fff;
  font-size: 1.2em;
  margin: .2em;
}

footer {
  background-color: rgba(214,203,198,0.5);
  padding: 1.4rem;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.footer-nav ul {
  justify-content: space-between;
}

footer p {
  text-align: center;
  margin-bottom: .5rem
}

.social-icons {
  padding: 0;
}

.social-icons ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.social-icons li {
  max-width: 2rem;
  list-style-type: none;
  margin: .75em;
}

footer li:first-child {
  max-width: 2.5rem;
}

.footer-button {
  padding: 1rem 1.2rem 1.2rem;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 1em;
  background-color: #312649;
  color: #fff;
  box-shadow: -2px 5px #877d93;
  border: 0;
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 120px;
  line-height: 1;
}

.cards button {
  margin-top: 1rem;
}

/* Meet the Pups Styles*/

.pups-banner {
  background-image: url(../images/banner-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
  color: #312649;
  text-align: left;
  vertical-align: middle;
  padding: 10rem 1.4rem;
  margin-top: 6rem;
}

.meet-the-pups {
  padding: 1.4rem;
}

.meet-the-pups h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #312649;
}

.meet-the-pups .card-wrap {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.meet-the-pups .cards {
  padding: 2rem;
  background-color: #d6cbc6;
  border-radius: 50px;
  box-shadow: -5px 5px #866256;
  max-height: 25em;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: solid 2rem #d6cbc6;
  margin-bottom: 2rem;
  max-width: 300px;
  display: inline-block;
  text-align: left;
}

.meet-the-pups .cards:last-child {
  display: none;
}

.meet-the-pups .cards:hover {
  overflow: visible;
  white-space: normal;
  max-height: 100%;
  border-bottom: 0;
  transform: scale(1.1);
  transition: transform .2s ease-in-out, max-height .2s ease-in-out;
}

.meet-the-pups .cards a {
  text-decoration: none;
  color: #312649;
}

.meet-the-pups .button-left {
  padding: 0;
}

.meet-the-pups .cards h3, p {
  margin: .5rem 0 0 0;
  white-space: normal;
}

.pups-text {
  margin-bottom: 2rem;
}

.pups-buttons {
  margin-bottom: 2rem;
}

/* Adopt Now Styles*/

.adopt-banner {
  background-image: url(../images/banner-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 700px;
  color: #312649;
  text-align: left;
  vertical-align: middle;
  padding: 10rem 1.4rem;
  margin-top: 6rem;
}

.adopt-banner h2 {
  margin: 0;
  font-weight: normal;
}

.adoption-process {
  position: relative;
  overflow: hidden;
  min-height: 900px;
}

.adoption-text {
  background-color: #fff;
  padding: 1.4rem;
  margin: 2rem 0 .5rem;
  color: #312649;
  max-width: 500px;
}

.adoption-text p {
  margin-bottom: 1.5rem;
}

.adoption-process img {
  position: absolute;
  z-index: -1000;
  transform: rotate(20deg) translateY(-2rem);
  overflow: hidden;
  border: 5px dotted #312649;
}

.fees-list {
  margin: 0 0 2rem 0;
  padding: 0 1.4rem 1.4rem 3rem;
}

@media only screen and (min-width: 38em) {

  header nav {
    display: grid;
    grid-template-columns: 1fr 2fr .1fr;
    grid-template-rows: auto 0rem;
    padding: 1rem;
    justify-items: right;
  }

  .logo {
    width: 100%;
  }

  header ul {
    margin-left: 2rem;
  }

  .button {
    padding-top: 2rem;
  }

  .tablet-left {
    text-align: center;
    width: 50%;
  }

  .banner-text {
    width: 50%;
  }

  .footer-nav ul {
    justify-content: center;
  }

  .footer-nav li {
    margin: .5rem;
  }

  /* Meet the Pups Styles*/

  .pups-banner .banner-text {
    width: 60%;
    float: right;
  }

  .meet-the-pups .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1.4rem;
    justify-items: center;
    margin-bottom: 2rem;
  }

  .meet-the-pups .cards {
    margin-bottom: 0;
  }

  .meet-the-pups .cards:last-child {
    display: inherit;
  }

  .pups-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .pups-buttons {
    padding-top: 2rem;
  }

  /* Adopt Now Styles*/

  .adoption-process img {
    transform: rotate(20deg) translateY(-6rem);
  }

  .fees-list {
    font-size: 1.25rem;
  }

}

@media only screen and (min-width: 60em) {

  header nav {
    display: grid;
    grid-template-columns: .5fr 2fr .3fr;
    grid-template-rows: auto 0rem;
    justify-content: right;
    padding: 1rem 3rem 1rem 1rem;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    justify-items: center;
  }

  form {
    min-width: 430px;
  }

  .banner {
    min-height: 42rem;
  }

  .banner-text {
    background-color: rgba(214,203,198,0);
  }

  .desktop-buttons {
    display: flex;
  }

  .tablet-left {
    text-align: right;
    width: 20%;
  }

  .tablet-left:first-child {
    text-align: right;
  }

  .button {
    padding-top: 2.5rem;
  }

  .about img {
    width: 50%;
    transform: rotate(20deg) translate(20rem, -30rem);
  }

  .about-text {
    margin-left: 10rem;
    margin-top: 10rem;
  }

  .button-left {
    padding-left: 11.5rem;
  }

  .contact {
    padding: 3rem 8rem;
  }

  /* Meet the Pups Styles*/

  .meet-the-pups {
    padding: 3rem;
    min-height: 48rem;
  }

  .meet-the-pups h2 {
    padding-left: 2.5rem;
  }

  .meet-the-pups .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 1.4rem;
    margin-bottom: 2rem;
  }

  .meet-the-pups .cards:last-child {
    display: inherit;
  }

  .pups-banner .banner-text {
    background-color: rgba(214,203,198,0);
    float: right;
    width: 40%;
  }

  .pups-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: left;
    margin-bottom: 4rem;
  }

  .meet-the-pups .pups-text h2 {
    padding: 0;
  }

  .pups-text {
    padding: 1rem;
  }

  /* Adopt Now Styles*/

  .adopt-banner .banner-text {
    padding: 2rem 1rem;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 1rem;
    margin-top: 5rem;
    text-align: center;
  }

  .adoption-process img {
    width: 50%;
    transform: rotate(20deg) translate(25rem, -45rem);
  }

  .adoption-text {
    margin-left: 10rem;
    margin-top: 10rem;
  }

  .adoption-fees .adoption-text {
    margin-left: 0;
    margin-top: 0;
  }

  .fees-list {
    font-size: 1.3rem;
    margin: 0;
  }

  .adoption-fees {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;
    align-items: center;
    padding: 5rem 10rem;
  }

}
