@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Dosis", sans-serif;
  line-height: 1.3;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.logo {
  width: 50%;
  margin: 1rem auto;
  max-width: 200px;
}

.button-center {
  text-align: center;
}

.button-left {
  text-align: left;
  padding-left: 1.4rem;
}

.nav-button {
  padding: .75rem 1rem;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #312649;
  color: #fff;
  box-shadow: -2px 5px #877d93;
  border: 0;
  border-radius: 50%;
  width: 125px;
}

.primary-button {
  padding: .75rem 1.5rem;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #312649;
  color: #fff;
  box-shadow: -2px 5px #877d93;
  border: 0;
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 160px;
}

.secondary-button {
  padding: .75rem 1.5rem;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #fff;
  color: #312649;
  box-shadow: -2px 5px #312649;
  border: 0;
  border-radius: 50%;
  width: 160px;
}

header nav {
  background-color: rgba(214,203,198,0.5);
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3rem;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  border: 0;
  border-radius: 6px;
  color: #877d93;
  padding: .5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.banner-text {
  padding: 1rem 1rem;
  background-color: rgba(214,203,198,0.5);
  margin-bottom: 1rem;
}

.banner {
  background-image: url(../images/banner-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 550px;
  color: #312649;
  text-align: center;
  vertical-align: middle;
  padding: 10rem 1.4rem;
}

h1 {
  margin: 0 0 .25rem 0;
  font-size: 3.5rem;
  line-height: 1.1;
  font-family: "Shadows Into Light", sans-serif;
}

.banner h2 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

.about {
  position: relative;
  overflow: hidden;
  min-height: 700px;
}

.about-text {
  background-color: #fff;
  padding: 1.4rem;
  margin: 2rem 0 .5rem;
  color: #312649;
  max-width: 500px;
}

h2 {
  margin-bottom: .5rem;
  margin-top: 0;
  font-weight: bold;
  font-size: 2em;
}

.about img {
  position: absolute;
  z-index: -1000;
  transform: rotate(20deg);
  overflow: hidden;
  border: 5px dotted #312649;
}

.meet-the-pups {
  padding: 1.4rem;
}

.meet-the-pups h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #312649;
}

.meet-the-pups .card-wrap {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.meet-the-pups .cards {
  padding: 2rem;
  background-color: #d6cbc6;
  border-radius: 50px;
  box-shadow: -5px 5px #866256;
  max-height: 25em;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: solid 2rem #d6cbc6;
  margin-bottom: 2rem;
  max-width: 300px;
  display: inline-block;
  text-align: left;
}

.meet-the-pups .cards:last-child {
  display: none;
}

.meet-the-pups .cards:hover {
  overflow: visible;
  white-space: normal;
  max-height: 100%;
  border-bottom: 0;
  transform: scale(1.1);
  transition: transform .2s ease-in-out, max-height .2s ease-in-out;
}

.meet-the-pups .cards a {
  text-decoration: none;
  color: #312649;
}

.meet-the-pups .button-left {
  padding: 0;
}

.meet-the-pups .cards h3, p {
  margin: .5rem 0 0 0;
  white-space: normal;
}

.contact {
  padding: 1.4rem;
}

.contact h2, p{
  color: #312649;
}

.contact p {
  margin-bottom: 2rem;
}

.contact form {
  background-color: #877d93;
  padding: 2em;
}

.contact input, textarea, select {
  width: 100%;
  margin-bottom: 1em;
  padding: .5em;
}

 .contact label {
   display: block;
   color: #fff;
   font-size: 1.2em;
   margin: .2em;
 }

 footer {
   background-color: rgba(214,203,198,0.5);
   padding: 1.4rem;
 }

 footer ul {
   display: flex;
   align-items: center;
   justify-content: center;
   list-style-type: none;
   font-size: 1rem;
   margin: 0;
   padding: 0;
 }

 .footer-nav ul {
   justify-content: space-between;
 }

 footer p {
   text-align: center;
   margin-bottom: .5rem
 }

 .social-icons {
   padding: 0;
 }

 .social-icons ul {
   padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
 }

 .social-icons li {
   max-width: 2rem;
   list-style-type: none;
   margin: .75em;
 }

 footer li:first-child {
   max-width: 2.5rem;
 }

 .footer-button {
   padding: 1rem 1.2rem 1.2rem;
   font-family: "Dosis", sans-serif;
   font-weight: bold;
   font-size: 1em;
   background-color: #312649;
   color: #fff;
   box-shadow: -2px 5px #877d93;
   border: 0;
   border-radius: 50%;
   margin-bottom: 1rem;
   width: 120px;
   line-height: 1;
 }

@media only screen and (min-width: 38em) {

header nav {
  display: grid;
  grid-template-columns: 1fr 2fr .1fr;
  grid-template-rows: auto 0rem;
  padding: 1rem;
  justify-items: right;
}

.logo {
  width: 100%;
}

header ul {
  margin-left: 2rem;
}

.button {
  padding-top: 2rem;
}

.meet-the-pups .card-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.4rem;
  justify-items: center;
  margin-bottom: 2rem;
}

.meet-the-pups .cards {
  margin-bottom: 0;
}

.meet-the-pups .cards:last-child {
  display: inherit;
}

.tablet-left {
  text-align: left;
  padding-left: 3.5rem;
}

.banner-text {
  width: 50%;
}

.footer-nav ul {
  justify-content: center;
}

.footer-nav li {
  margin: .5rem;
}

}

@media only screen and (min-width: 60em) {

  header nav {
    display: grid;
    grid-template-columns: .5fr 2fr .3fr;
    grid-template-rows: auto 0rem;
    justify-content: right;
    padding: 1rem;
  }

  .contact {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    justify-items: center;
  }

  form {
    width: 600px;
  }

  .banner-text {
    background-color: rgba(214,203,198,0);
  }

  .desktop-buttons {
    display: flex;
  }

  .tablet-left {
    text-align: left;
    text-align: left;
    width: 25%;
  }

  .tablet-left:first-child {
    text-align: center;
  }

  .button {
    padding-top: 2.5rem;
  }

  .meet-the-pups {
    padding: 3rem;
  }

  .meet-the-pups h2 {
    padding-left: 1rem;
  }

  .meet-the-pups .card-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    grid-gap: 1.4rem;
    margin-bottom: 2rem;
  }

  .meet-the-pups .cards:last-child {
    display: inherit;
  }

  .about img {
    width: 50%;
    transform: rotate(20deg) translate(20rem, -30rem);
  }

  .about-text {
    margin-left: 10rem;
    margin-top: 10rem;
  }

  .button-left {
    padding-left: 11.5rem;
  }

  .contact {
    padding: 3rem;
  }

}
